@import "~react-image-gallery/styles/scss/image-gallery.scss";
#root {
  height: 100%;
  > div {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .warper {
      flex: 1;
    }
  }
}
